.dropdown-list {
    list-style: none;
    z-index: 1000;
    border: 1px solid #eee;
    max-height: 220px;
    overflow-y:auto;
}

.dropdown-item:hover {
    background-color: #f5f5ff;
    color: #4b4be8;
    cursor: pointer;
}

.search-wrapper{
    width: 100%;
    position: relative;
}

::ng-deep .btn-purple {
    background-color: #4b4be8;
    color: white;
}

.search-height {
    height: 46px;
}

@media (max-width: 400px) {
    ::ng-deep .btn-purple {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 13px;
    }
}