<div
  class="position-relative w-100 password-wrapper"
  [class.floating-wrapper]="isFloating"
  [formGroup]="formGroup"
>
  <input
    [type]="showPassword ? 'text' : 'password'"
    class="form-control custom-input"
    [class.floating-input]="isFloating"
    [class.is-invalid]="isTouched && isInvalidPassword"
    [formControlName]="config.formControlName"
    (input)="onInput($event)"
    (blur)="onBlur($event)"
    [placeholder]="isFloating ? ' ' : (config.placeholder || 'Password')"
  />
  @if (isFloating) {
  <label class="floating-label">{{ config.placeholder || 'Password' }}</label>
  }
  <button
    type="button"
    class="toggle-btn me-1"
    (click)="togglePassword()"
    tabindex="-1"
  >
    <img
      [src]="showPassword ? 'assets/icons/hidden.png' : 'assets/icons/view.png'"
      alt="toggle password visibility"
    />
  </button>
</div>

@if (isTouched && isInvalidPassword) {
<div class="invalid-feedback d-block text-start">
  Password must be 8–15 characters with letters, numbers and a special
  character.
</div>
}