@import "./theme/theme.css";
html,
body {
  height: 100%;
}

.fl-wrapper {
  position: relative;
}

.fl-input.form-control {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 300;
  color: #212529;
  padding-top: 14px;
  padding-bottom: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

textarea.fl-input.form-control {
  height: auto;
  min-height: 80px;
  padding-top: 20px;
  resize: none;
}

.fl-input::placeholder {
  color: transparent;
}

.form-control.fl-input.is-invalid {
  background-image: none !important;
}

.fl-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 18px;
  color: #666666;
  font-size: 1rem;
  font-weight: 300;
  transition:
    top 0.18s ease,
    font-size 0.18s ease,
    color 0.18s ease;
  background-color: white;
  padding: 0 5px;
  margin: 0;
  z-index: 1;
}

.fl-input:focus ~ .fl-label,
.fl-input:not(:placeholder-shown) ~ .fl-label {
  top: -9px;
  left: 8px;
  font-size: 11px;
  font-weight: 400;
}

.fl-input:focus ~ .fl-label {
  color: #3733b4;
}

.fl-input:not(:placeholder-shown):not(:focus) ~ .fl-label {
  color: #444444;
}

.fl-input:focus {
  border-color: #3733b4 !important;
}

.required-asterisk {
  color: #e53e3e;
  font-weight: 600;
}