<div class="modal-backdrop">
  <div class="modal-card">
    <!-- Header -->
    <div class="modal-header d-flex justify-content-between align-items-start">
      <div>
        <h5 class="mb-1">Change Password</h5>
      </div>

      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="form">
        <app-password [config]="newPasswordConfig" [formGroup]="form"> </app-password>

        <app-password [config]="confirmPasswordConfig" [formGroup]="form"> </app-password>

        @if (form.hasError('passwordMismatch') && f['confirmPassword'].touched) {
        <div class="field-error mt-2">Passwords do not match.</div>
        }
      </form>
    </div>

    <div class="modal-footer-actions d-flex justify-content-end gap-2">
      <app-button [config]="cancelConfig" class="footer-btn"> </app-button>
      <app-button [config]="saveConfig" class="footer-btn"> </app-button>
    </div>
  </div>
</div>
